@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/StyleSheetFormatting.css">
    <link rel="stylesheet" href="../css/StyleSheet_common.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script>
        function handleSubmit() {
            var radios = document.getElementsByName('drone');
            var selectedOption;



            for (var i = 0; i < radios.length; i++) {
                if (radios[i].checked) {
                    selectedOption = radios[i].value;
                    break;
                }
            }



            switch (selectedOption) {
                case 'add':
                    alert('Data successfully added');
                    break;
                case 'remove':
                    alert('Data successfully removed');
                    break;
                case 'update':
                    alert('Data successfully updated');
                    break;
                default:
                    // Handle other cases if needed
                    break;
            }
        }
    </script>
    <style>

        body {
            font: 400 15px/1.8 Lato, sans-serif;
            color: #777;
        }

        .paragraph {
            font-family: Arial, sans-serif;
            text-align: center;
            font-weight: bold;
            font-color: black;
            font-size: 30px;
            margin-bottom: 50px;
            line-height: 2;
            padding: 20px;
        }

        .page-summary {
            font-family: Arial, sans-serif;
            text-align: center;
            font-size: 15px;
            font-color: black;
        }

        .container {
            display: flex;
            flex-direction: column;
            height: 100%;
        }

        #countyData {
            flex: 1;
            overflow-y: auto;
        }


        table {
            width: 100%;
            visibility: hidden;
            align-items: center;
            padding: 20px;
            border-collapse: collapse; /* Add border collapse for the table */
        }

        table, th, td {
            border: 1px solid black; /* Add borders to table cells */
            text-align: center;
        }

        .search-container {
            text-align: center;
            padding: 20px;
        }

        .title {
            font-size: 24px;
            text-align: center;
            margin-top: 20px;
        }
    </style>

    <title>Electric Vehicles Details by County</title>
</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Electric Vehicle</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="@Url.Action("EVHomePage", "Home")">Home</a></li>
                    <li><a href="@Url.Action("MainPage", "Home")">Main Page</a></li>
                    <li><a href="@Url.Action("DetailPage", "Home")">Details</a></li>
                    <li><a href="@Url.Action("AboutUsPage", "Home")">About Us</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="home" class="page">

        <!-- Details page content -->
        <div class="paragraph">
            Electric Vehicles Details by Regional County
        </div>

        <div class="page-summary">

            <p>
                Use the region selection dropdown to choose a specific region of interest, and click the "Fetch Details"
                button to access comprehensive information about the EVs in that region's counties.
                The data table displays details such as the make, model, and electric range, and total number
                of each electric vehicle in every county of Washington, allowing you to make informed choices and explore
                the diversity of EVs in Washington State.
            </p>
        </div>

        <div class="container">

            <div class="search-container">
                <label for="regionName">Select Region:</label>
                <select id="regionName">
                    <option value="">Select Region</option>
                    <option value="Olympic">Olympic</option>
                    <option value="Northeast">Northeast</option>
                    <option value="Northwest">Northwest</option>
                    <option value="South Puget Sound">South Puget Sound</option>
                    <option value="Pacific Cascade">Pacific Cascade</option>
                    <option value="Southeast">Southeast</option>
                </select>
                <button onclick="fetchRegionDetails()">Fetch Details</button>
            </div>

            <div id="regionData">
                <table>
                    <thead>
                        <tr>
                            <th>County</th>
                            <th>Make</th>
                            <th>Avg. Electric Range</th>
                            <th>Total EVs</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="container-fluid">
            <form onsubmit="handleSubmit(); return false;">
                <fieldset>
                    <p>Do you want to add your own car to the database? You can add, remove, or update your car to get it reflected in the statistics! Please choose between the following options:</p>



                    <legend></legend>



                    <div>
                        <input type="radio" id="add" name="drone" value="add" checked />
                        <label for="add">Add</label>
                    </div>



                    <div>
                        <input type="radio" id="remove" name="drone" value="remove" />
                        <label for="remove">Remove</label>
                    </div>



                    <div>
                        <input type="radio" id="update" name="drone" value="update" />
                        <label for="update">Update</label>
                    </div>
                </fieldset>



                <br />
                <label for="VIN">VIN:</label>
                <input type="text" id="VIN" name="VIN" size="10" />
                <label for="county">County:</label>
                <input type="text" id="county" name="county" size="10" />
                <label for="make">Make:</label>
                <input type="text" id="make" name="make" size="10" />
                <label for="model">Model:</label>
                <input type="text" id="model" name="model" size="10" />
                <label for="electricRange">Electric Range:</label>
                <input type="text" id="electricRange" name="electricRange" size="10" />



                <br /> <br />
                <input type="submit" value="Submit data">
            </form>
        </div>

    </div>


    <script>
        
        const electricVehiclesData = [
            {
                region: 'Olympic',
                counties: [
                    {
                        name: 'Callam',
                        vehicles: [
                            { make: 'Tesla', range: '208 miles', "Total Count": 4 },
                            { make: 'Nissan', range: '182 miles', "Total Count": 5 },
                            { make: 'Chevrolet', range: '263 miles', "Total Count": 1 },
                            { make: 'Ford', range: '311 miles', "Total Count": 5 },
                            { make: 'Volvo', range: '280 miles', "Total Count": 3 },
                            { make: 'Toyota', range: '255 miles', "Total Count": 3 },
                            //{ make: 'Kia', range: '100 miles', "Total Count": 100 },
                            { make: 'Hyundai', range: '261 miles', "Total Count": 1 },
                            { make: 'Porsche', range: '259 miles', "Total Count": 220 },
                        ]
                    },
                    {
                        name: 'Jefferson',
                        vehicles: [
                            { make: 'Tesla', range: '208 miles', "Total Count": 4 },
                            { make: 'Nissan', range: '182 miles', "Total Count": 7 },
                            { make: 'Chevrolet', range: '263 miles', "Total Count": 11 },
                            { make: 'Ford', range: '311 miles', "Total Count": 5 },
                            //{ make: 'Volvo', range: '280 miles', "Total Count": 3 },
                            //{ make: 'Toyota', range: '255 miles', "Total Count": 3 },
                            { make: 'Kia', range: '264 miles', "Total Count": 4 },
                            { make: 'Hyundai', range: '261 miles', "Total Count": 4 },
                            { make: 'Porsche', range: '223 miles', "Total Count": 2 },
                        ]
                    },
                    {
                        name: 'Grays Harbor',
                        vehicles: [
                            { make: 'Tesla', range: '208 miles', "Total Count": 1 },
                            //{ make: 'Nissan', range: '182 miles', "Total Count": 7 },
                            { make: 'Chevrolet', range: '263 miles', "Total Count": 3 },
                            { make: 'Ford', range: '311 miles', "Total Count": 2 },
                            { make: 'Volvo', range: '280 miles', "Total Count": 1 },
                            //{ make: 'Toyota', range: '255 miles', "Total Count": 3 },
                            { make: 'Kia', range: '264 miles', "Total Count": 2 },
                            { make: 'Hyundai', range: '261 miles', "Total Count": 1 },
                            { make: 'Porsche', range: '223 miles', "Total Count": 1 },
                        ]
                    }
                ]
            },
            {
                region: 'Northeast',
                counties: [
                    {
                        name: 'Stevens',
                        vehicles: [
                            { make: 'Tesla', range: '208 miles', "Total Count": 1 },
                            { make: 'Nissan', range: '182 miles', "Total Count": 1 },
                            { make: 'Chevrolet', range: '263 miles', "Total Count": 2 },
                            { make: 'Ford', range: '311 miles', "Total Count": 1 },
                            { make: 'Volvo', range: '280 miles', "Total Count": 2 },
                            { make: 'Toyota', range: '255 miles', "Total Count": 1 },
                            //{ make: 'Kia', range: '264 miles', "Total Count": 2 },
                            { make: 'Hyundai', range: '261 miles', "Total Count": 1 },
                            //{ make: 'Porsche', range: '223 miles', "Total Count": 1 },
                        ]
                    },
                    {
                        name: 'Spokane',
                        vehicles: [
                            { make: 'Tesla', range: '208 miles', "Total Count": 16 },
                            { make: 'Nissan', range: '182 miles', "Total Count": 3 },
                            { make: 'Chevrolet', range: '263 miles', "Total Count": 11 },
                            { make: 'Ford', range: '311 miles', "Total Count": 9 },
                            { make: 'Volvo', range: '280 miles', "Total Count": 11 },
                            { make: 'Toyota', range: '255 miles', "Total Count": 3 },
                            { make: 'Kia', range: '264 miles', "Total Count": 3 },
                            { make: 'Hyundai', range: '261 miles', "Total Count": 7 },
                            { make: 'Porsche', range: '223 miles', "Total Count": 7 },
                        ]
                    },
                    {
                        name: 'Okanogan',
                        vehicles: [
                            //{ make: 'Tesla', range: '208 miles', "Total Count": 1 },
                            //{ make: 'Nissan', range: '182 miles', "Total Count": 7 },
                            { make: 'Chevrolet', range: '263 miles', "Total Count": 1 },
                            { make: 'Ford', range: '311 miles', "Total Count": 1 },
                            { make: 'Volvo', range: '280 miles', "Total Count": 3 },
                            //{ make: 'Toyota', range: '255 miles', "Total Count": 3 },
                            //{ make: 'Kia', range: '264 miles', "Total Count": 2 },
                            //{ make: 'Hyundai' range: '261 miles', "Total Count": 1 },
                            //{ make: 'Porsche', range: '223 miles', "Total Count": 1 },
                        ]
                    }
                ]
            },
            {
                region: 'Northwest',
                counties: [
                    {
                        name: 'Island',
                        vehicles: [
                            { make: 'Tesla', range: '208 miles', "Total Count": 13 },
                            { make: 'Nissan', range: '182 miles', "Total Count": 1 },
                            { make: 'Chevrolet', range: '263 miles', "Total Count": 9 },
                            { make: 'Ford', range: '311 miles', "Total Count": 6 },
                            { make: 'Volvo', range: '280 miles', "Total Count": 9 },
                            { make: 'Toyota', range: '255 miles', "Total Count": 1 },
                            { make: 'Kia', range: '264 miles', "Total Count": 8 },
                            { make: 'Hyundai', range: '261 miles', "Total Count": 7 },
                            { make: 'Porsche', range: '223 miles', "Total Count": 3 },
                        ]
                    },
                    {
                        name: 'Snohomish',
                        vehicles: [
                            { make: 'Tesla', range: '208 miles', "Total Count": 104 },
                            { make: 'Nissan', range: '182 miles', "Total Count": 24 },
                            { make: 'Chevrolet', range: '263 miles', "Total Count": 36 },
                            { make: 'Ford', range: '311 miles', "Total Count": 67 },
                            { make: 'Volvo', range: '280 miles', "Total Count": 73 },
                            { make: 'Toyota', range: '255 miles', "Total Count": 7 },
                            { make: 'Kia', range: '264 miles', "Total Count": 31 },
                            { make: 'Hyundai', range: '261 miles', "Total Count": 39 },
                            { make: 'Porsche', range: '223 miles', "Total Count": 18 },
                        ]
                    },
                    {
                        name: 'Skagit',
                        vehicles: [
                            { make: 'Tesla', range: '208 miles', "Total Count": 4 },
                            { make: 'Nissan', range: '182 miles', "Total Count": 1 },
                            { make: 'Chevrolet', range: '263 miles', "Total Count": 6 },
                            { make: 'Ford', range: '311 miles', "Total Count": 9 },
                            { make: 'Volvo', range: '280 miles', "Total Count": 8 },
                            //{ make: 'Toyota', range: '255 miles', "Total Count": 1 },
                            { make: 'Kia', range: '264 miles', "Total Count": 2 },
                            { make: 'Hyundai', range: '261 miles', "Total Count": 6 },
                            //{ make: 'Porsche', range: '223 miles', "Total Count": 1 },
                        ]
                    },
                    {
                        name: 'Whatcom',
                        vehicles: [
                            { make: 'Tesla', range: '208 miles', "Total Count": 11 },
                            { make: 'Nissan', range: '182 miles', "Total Count": 2 },
                            { make: 'Chevrolet', range: '263 miles', "Total Count": 5 },
                            { make: 'Ford', range: '311 miles', "Total Count": 12 },
                            { make: 'Volvo', range: '280 miles', "Total Count": 11 },
                            { make: 'Toyota', range: '255 miles', "Total Count": 5 },
                            { make: 'Kia', range: '264 miles', "Total Count": 11 },
                            { make: 'Hyundai', range: '261 miles', "Total Count": 8 },
                            { make: 'Porsche', range: '223 miles', "Total Count": 5 },
                        ]
                    },
                    {
                        name: 'San Juan',
                        vehicles: [
                            { make: 'Tesla', range: '208 miles', "Total Count": 1 },
                            { make: 'Nissan', range: '182 miles', "Total Count": 1 },
                            //{ make: 'Chevrolet', range: '263 miles', "Total Count": 11 },
                            { make: 'Ford', range: '311 miles', "Total Count": 3 },
                            { make: 'Volvo', range: '280 miles', "Total Count": 3 },
                            { make: 'Toyota', range: '255 miles', "Total Count": 2 },
                            //{ make: 'Kia', range: '264 miles', "Total Count": 3 },
                            { make: 'Hyundai', range: '261 miles', "Total Count": 3 },
                            { make: 'Porsche', range: '223 miles', "Total Count": 1 },
                        ]
                    }
                ]
            },
            {
                region: 'South Puget Sound',
                counties: [
                    {
                        name: 'King',
                        vehicles: [
                            { make: 'Tesla', range: '208 miles', "Total Count": 881 },
                            { make: 'Nissan', range: '182 miles', "Total Count": 241 },
                            { make: 'Chevrolet', range: '263 miles', "Total Count": 356 },
                            { make: 'Ford', range: '311 miles', "Total Count": 440 },
                            { make: 'Volvo', range: '280 miles', "Total Count": 625 },
                            { make: 'Toyota', range: '255 miles', "Total Count": 171 },
                            { make: 'Kia', range: '264 miles', "Total Count": 319 },
                            { make: 'Hyundai', range: '261 miles', "Total Count": 276 },
                            { make: 'Porsche', range: '223 miles', "Total Count": 267 },
                        ]
                    },
                    {
                        name: 'Kitsap',
                        vehicles: [
                            { make: 'Tesla', range: '208 miles', "Total Count": 56 },
                            { make: 'Nissan', range: '182 miles', "Total Count": 32 },
                            { make: 'Chevrolet', range: '263 miles', "Total Count": 46 },
                            { make: 'Ford', range: '311 miles', "Total Count": 44 },
                            { make: 'Volvo', range: '280 miles', "Total Count": 60 },
                            { make: 'Toyota', range: '255 miles', "Total Count": 10 },
                            { make: 'Kia', range: '264 miles', "Total Count": 29 },
                            { make: 'Hyundai', range: '261 miles', "Total Count": 22 },
                            { make: 'Porsche', range: '223 miles', "Total Count": 15 },
                        ]
                    },
                    {
                        name: 'Thurston',
                        vehicles: [
                            { make: 'Tesla', range: '208 miles', "Total Count": 39 },
                            { make: 'Nissan', range: '182 miles', "Total Count": 14 },
                            { make: 'Chevrolet', range: '263 miles', "Total Count": 63 },
                            { make: 'Ford', range: '311 miles', "Total Count": 54 },
                            { make: 'Volvo', range: '280 miles', "Total Count": 28 },
                            { make: 'Toyota', range: '255 miles', "Total Count": 10 },
                            { make: 'Kia', range: '264 miles', "Total Count": 28 },
                            { make: 'Hyundai', range: '261 miles', "Total Count": 30 },
                            { make: 'Porsche', range: '223 miles', "Total Count": 5 },
                        ]
                    },
                    {
                        name: 'Pierce',
                        vehicles: [
                            { make: 'Tesla', range: '208 miles', "Total Count": 22 },
                            { make: 'Nissan', range: '182 miles', "Total Count": 6 },
                            { make: 'Chevrolet', range: '263 miles', "Total Count": 29 },
                            { make: 'Ford', range: '311 miles', "Total Count": 34 },
                            { make: 'Volvo', range: '280 miles', "Total Count": 43 },
                            { make: 'Toyota', range: '255 miles', "Total Count": 5 },
                            { make: 'Kia', range: '264 miles', "Total Count": 23 },
                            { make: 'Hyundai', range: '261 miles', "Total Count": 23 },
                            { make: 'Porsche', range: '223 miles', "Total Count": 18 },
                        ]
                    },
                    {
                        name: 'Mason',
                        vehicles: [
                            { make: 'Tesla', range: '208 miles', "Total Count": 5 },
                            //{ make: 'Nissan', range: '182 miles', "Total Count": 1 },
                            { make: 'Chevrolet', range: '263 miles', "Total Count": 2 },
                            { make: 'Ford', range: '311 miles', "Total Count": 1 },
                            { make: 'Volvo', range: '280 miles', "Total Count": 3 },
                            //{ make: 'Toyota', range: '255 miles', "Total Count": 1 },
                            //{ make: 'Kia', range: '264 miles', "Total Count": 8 },
                            { make: 'Hyundai', range: '261 miles', "Total Count": 1 },
                            { make: 'Porsche', range: '223 miles', "Total Count": 1 },
                        ]
                    }
                ]
            },
            {
                region: 'Pacific Cascade',
                counties: [
                    {
                        name: 'Clark',
                        vehicles: [
                            { make: 'Tesla', range: '208 miles', "Total Count": 95 },
                            { make: 'Nissan', range: '182 miles', "Total Count": 28 },
                            { make: 'Chevrolet', range: '263 miles', "Total Count": 104 },
                            { make: 'Ford', range: '311 miles', "Total Count": 89 },
                            { make: 'Volvo', range: '280 miles', "Total Count": 58 },
                            { make: 'Toyota', range: '255 miles', "Total Count": 50 },
                            { make: 'Kia', range: '264 miles', "Total Count": 54 },
                            { make: 'Hyundai', range: '261 miles', "Total Count": 79 },
                            { make: 'Porsche', range: '223 miles', "Total Count": 27 },
                        ]
                    },
                    {
                        name: 'Cowlitz',
                        vehicles: [
                            { make: 'Tesla', range: '208 miles', "Total Count": 12 },
                            { make: 'Nissan', range: '182 miles', "Total Count": 1 },
                            { make: 'Chevrolet', range: '263 miles', "Total Count": 15 },
                            { make: 'Ford', range: '311 miles', "Total Count": 14 },
                            { make: 'Volvo', range: '280 miles', "Total Count": 2 },
                            { make: 'Toyota', range: '255 miles', "Total Count": 5 },
                            { make: 'Kia', range: '264 miles', "Total Count": 3 },
                            { make: 'Hyundai', range: '261 miles', "Total Count": 11 },
                            //{ make: 'Porsche', range: '223 miles', "Total Count": 15 },
                        ]
                    },
                    {
                        name: 'Lewis',
                        vehicles: [
                            { make: 'Tesla', range: '208 miles', "Total Count": 3 },
                            //{ make: 'Nissan', range: '182 miles', "Total Count": 14 },
                            { make: 'Chevrolet', range: '263 miles', "Total Count": 4 },
                            { make: 'Ford', range: '311 miles', "Total Count": 2 },
                            { make: 'Volvo', range: '280 miles', "Total Count": 2 },
                            { make: 'Toyota', range: '255 miles', "Total Count": 1 },
                            { make: 'Kia', range: '264 miles', "Total Count": 2 },
                            //{ make: 'Hyundai' range: '261 miles', "Total Count": 30 },
                            //{ make: 'Porsche', range: '223 miles', "Total Count": 5 },
                        ]
                    },
                    {
                        name: 'Skamania',
                        vehicles: [
                            { make: 'Tesla', range: '208 miles', "Total Count": 4 },
                            //{ make: 'Nissan', range: '182 miles', "Total Count": 6 },
                            { make: 'Chevrolet', range: '263 miles', "Total Count": 1 },
                            { make: 'Ford', range: '311 miles', "Total Count": 1 },
                            { make: 'Volvo', range: '280 miles', "Total Count": 2 },
                            //{ make: 'Toyota', range: '255 miles', "Total Count": 5 },
                            { make: 'Kia', range: '264 miles', "Total Count": 2 },
                            //{ make: 'Hyundai' range: '261 miles', "Total Count": 23 },
                            //{ make: 'Porsche', range: '223 miles', "Total Count": 18 },
                        ]
                    },
                    {
                        name: 'Pacific',
                        vehicles: [
                            //{ make: 'Tesla', range: '208 miles', "Total Count": 5 },
                            //{ make: 'Nissan', range: '182 miles', "Total Count": 1 },
                            //{ make: 'Chevrolet', range: '263 miles', "Total Count": 2 },
                            //{ make: 'Ford', range: '311 miles', "Total Count": 1 },
                            //{ make: 'Volvo', range: '280 miles', "Total Count": 3 },
                            { make: 'Toyota', range: '255 miles', "Total Count": 1 },
                            //{ make: 'Kia', range: '264 miles', "Total Count": 8 },
                            //{ make: 'Hyundai' range: '261 miles', "Total Count": 1 },
                            //{ make: 'Porsche', range: '223 miles', "Total Count": 1 },
                        ]
                    }
                ]
            },
            {
                region: 'Southeast',
                counties: [
                    {
                        name: 'Yakima',
                        vehicles: [
                            { make: 'Tesla', range: '208 miles', "Total Count": 12 },
                            { make: 'Nissan', range: '182 miles', "Total Count": 4 },
                            { make: 'Chevrolet', range: '263 miles', "Total Count": 13 },
                            { make: 'Ford', range: '311 miles', "Total Count": 10 },
                            { make: 'Volvo', range: '280 miles', "Total Count": 3 },
                            { make: 'Toyota', range: '255 miles', "Total Count": 7 },
                            { make: 'Kia', range: '264 miles', "Total Count": 3 },
                            { make: 'Hyundai', range: '261 miles', "Total Count": 2 },
                            { make: 'Porsche', range: '223 miles', "Total Count": 2 },
                        ]
                    },
                    {
                        name: 'Whitman',
                        vehicles: [
                            //{ make: 'Tesla', range: '208 miles', "Total Count": 12 },
                            //{ make: 'Nissan', range: '182 miles', "Total Count": 1 },
                            { make: 'Chevrolet', range: '263 miles', "Total Count": 2 },
                            { make: 'Ford', range: '311 miles', "Total Count": 1 },
                            { make: 'Volvo', range: '280 miles', "Total Count": 1 },
                            //{ make: 'Toyota', range: '255 miles', "Total Count": 5 },
                            { make: 'Kia', range: '264 miles', "Total Count": 1 },
                            { make: 'Hyundai', range: '261 miles', "Total Count": 1 },
                            //{ make: 'Porsche', range: '223 miles', "Total Count": 15 },
                        ]
                    },
                    {
                        name: 'Grant',
                        vehicles: [
                            { make: 'Tesla', range: '208 miles', "Total Count": 3 },
                            //{ make: 'Nissan', range: '182 miles', "Total Count": 28 },
                            { make: 'Chevrolet', range: '263 miles', "Total Count": 6 },
                            { make: 'Ford', range: '311 miles', "Total Count": 1 },
                            { make: 'Volvo', range: '280 miles', "Total Count": 5 },
                            //{ make: 'Toyota', range: '255 miles', "Total Count": 50 },
                            //{ make: 'Kia', range: '264 miles', "Total Count": 54 },
                            //{ make: 'Hyundai' range: '261 miles', "Total Count": 79 },
                            { make: 'Porsche', range: '223 miles', "Total Count": 2 },
                        ]
                    },
                    {
                        name: 'Chelan',
                        vehicles: [
                            { make: 'Tesla', range: '208 miles', "Total Count": 12 },
                            { make: 'Nissan', range: '182 miles', "Total Count": 1 },
                            { make: 'Chevrolet', range: '263 miles', "Total Count": 15 },
                            { make: 'Ford', range: '311 miles', "Total Count": 14 },
                            { make: 'Volvo', range: '280 miles', "Total Count": 2 },
                            { make: 'Toyota', range: '255 miles', "Total Count": 5 },
                            { make: 'Kia', range: '264 miles', "Total Count": 3 },
                            { make: 'Hyundai', range: '261 miles', "Total Count": 11 },
                            //{ make: 'Porsche', range: '223 miles', "Total Count": 15 },
                        ]
                    },
                    {
                        name: 'Douglas',
                        vehicles: [
                            { make: 'Tesla', range: '208 miles', "Total Count": 2 },
                            //{ make: 'Nissan', range: '182 miles', "Total Count": 28 },
                            { make: 'Chevrolet', range: '263 miles', "Total Count": 2 },
                            { make: 'Ford', range: '311 miles', "Total Count": 1 },
                            { make: 'Volvo', range: '280 miles', "Total Count": 2 },
                            //{ make: 'Toyota', range: '255 miles', "Total Count": 50 },
                            { make: 'Kia', range: '264 miles', "Total Count": 1 },
                            //{ make: 'Hyundai' range: '261 miles', "Total Count": 79 },
                            { make: 'Porsche', range: '223 miles', "Total Count": 3 },
                        ]
                    },
                    {
                        name: 'Franklin',
                        vehicles: [
                            { make: 'Tesla', range: '208 miles', "Total Count": 1 },
                            //{ make: 'Nissan', range: '182 miles', "Total Count": 1 },
                            { make: 'Chevrolet', range: '263 miles', "Total Count": 2 },
                            //{ make: 'Ford', range: '311 miles', "Total Count": 14 },
                            //{ make: 'Volvo', range: '280 miles', "Total Count": 2 },
                            //{ make: 'Toyota', range: '255 miles', "Total Count": 5 },
                            //{ make: 'Kia', range: '264 miles', "Total Count": 3 },
                            { make: 'Hyundai', range: '261 miles', "Total Count": 2 },
                            //{ make: 'Porsche', range: '223 miles', "Total Count": 15 },
                        ]
                    }
                ]
            }
        ];
        /*
        // collect value from main page if clicked
        document.addEventListener("DOMContentLoaded", function () {
            // Parse the query parameter from the URL
            const urlParams = new URLSearchParams(window.location.search);
            const selectedRegion = urlParams.get("region");

            // Set the select object to the specified region
            const regionSelect = document.getElementById("regionName");
            if (selectedRegion) {
                regionSelect.value = selectedRegion;
                // Fetch details for the selected region automatically
                fetchRegionDetails(selectedRegion);
            }
        });
        */

        document.addEventListener('DOMContentLoaded', function () {
            // Add an event listener to the form submit event
            document.getElementById("evForm").addEventListener("submit", function (event) {
                event.preventDefault(); // Prevent the default form submission
                submitForm(); // Call your submitForm function
            });
        });

        function populateTable(region) {
            const tableBody = document.querySelector("tbody");
            tableBody.innerHTML = ""; // Clear existing rows

            electricVehiclesData.forEach(data => {
                if (data.region.toLowerCase() === region.toLowerCase()) {
                    data.counties.forEach(county => {
                        county.vehicles.forEach(vehicle => {
                            const row = document.createElement("tr");
                            row.innerHTML = `
                                                    <td>${county.name}</td>
                                                    <td>${vehicle.make}</td>
                                                    <td>${vehicle.range}</td>
                                                    <td>${vehicle["Total Count"]}</td>
                                                `;
                            tableBody.appendChild(row);
                        });
                    });
                }
            });

            // Show the table after populating data
            const table = document.querySelector("table");
            table.style.visibility = "visible";
        }

        function fetchRegionDetails() {
            const regionInput = document.getElementById("regionName");
            const regionName = regionInput.value;
            populateTable(regionName);
        }

        // Function to handle form submission
        function submitForm() {
            // Get form elements
            var form = document.getElementById("evForm");
            var vinInput = document.getElementById("VIN");
            var countyInput = document.getElementById("county");
            var makeInput = document.getElementById("make");
            var electricRangeInput = document.getElementById("electricRange");

            // Get selected radio button value
            var action = document.querySelector('input[name="drone"]:checked').value;

            // Validate form inputs (add your own validation logic as needed)
            if (vinInput.value === "" || countyInput.value === "" || makeInput.value === "" || electricRangeInput.value === "") {
                alert("Please fill in all the fields.");
                return;
            }

            // Find the existing data for the selected county and make
            var existingData = electricVehiclesData.find(function (region) {
                return region.region === 'SelectedRegion'; // Update with the selected region
            });

            if (action === "add") {
                // Check if the county already exists
                var existingCounty = existingData.counties.find(function (county) {
                    return county.name === countyInput.value;
                });

                if (existingCounty) {
                    // County exists, increment the "Total Count"
                    existingCounty.vehicles.forEach(function (vehicle) {
                        if (vehicle.make === makeInput.value) {
                            vehicle["Total Count"] += 1;
                        }
                    });
                } else {
                    // County doesn't exist, add a new county with the data
                    existingData.counties.push({
                        name: countyInput.value,
                        vehicles: [
                            {
                                make: makeInput.value,
                                range: electricRangeInput.value,
                                "Total Count": 1
                            }
                        ]
                    });
                }

                // Display success message
                alert("Data added successfully!");
            } else if (action === "remove") {
                // Perform the logic to remove data from your electricVehiclesData array
                // Display success message
                alert("Data removed successfully!");
            } else if (action === "update") {
                // Perform the logic to update data in your electricVehiclesData array
                updateData(existingData, countyInput.value, makeInput.value, electricRangeInput.value);

                // Display success message
                alert("Data updated successfully!");
            }

            // Clear form inputs after submission (optional)
            form.reset();
        }

        // Function to update data in the electricVehiclesData array
        function updateData(existingData, countyName, make, newRange) {
            // Check if the county exists
            var existingCounty = existingData.counties.find(function (county) {
                return county.name === countyName;
            });

            if (existingCounty) {
                // Check if the make exists in the county
                var existingMake = existingCounty.vehicles.find(function (vehicle) {
                    return vehicle.make === make;
                });

                if (existingMake) {
                    // Update the range with the average of the current and new values
                    existingMake.range = calculateAverage(existingMake.range, newRange);
                    // Increment the "Total Count"
                    existingMake["Total Count"] += 1;
                } else {
                    // Make doesn't exist, add a new vehicle with the data
                    existingCounty.vehicles.push({
                        make: make,
                        range: newRange,
                        "Total Count": 1
                    });
                }
            } else {
                // County doesn't exist, add a new county with the data
                existingData.counties.push({
                    name: countyName,
                    vehicles: [
                        {
                            make: make,
                            range: newRange,
                            "Total Count": 1
                        }
                    ]
                });
            }
        }

        // Function to calculate the average of two values
        function calculateAverage(currentValue, newValue) {
            var currentNumericValue = parseFloat(currentValue);
            var newNumericValue = parseFloat(newValue);

            if (!isNaN(currentNumericValue) && !isNaN(newNumericValue)) {
                return ((currentNumericValue + newNumericValue) / 2).toFixed(2);
            } else {
                // Handle the case where the values are not valid numbers
                return newValue; // Default to the new value if there's an issue
            }
        }

   

    </script>
</body>
</html>
